body {
  font-family: Arial;
  background: #f4faff;
  margin: 0;
}

.container {
  padding: 20px;
  text-align: center;
}

button {
  background: blue;
  color: white;
  padding: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-left: 5px solid green;
}

.highlight {
  color: yellow;
}
/* WITHDRAW LIST */
.withdraw-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 5px 0;
  background: #e6ffe6;
  border-left: 4px solid green;
  animation: slideIn 0.5s ease;
}

.withdraw-item small {
  color: gray;
}

/* SLIDE ANIMATION */
@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* MPESA POPUP */
.mpesa-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  animation: fadeInOut 3s ease;
}

/* POPUP ANIMATION */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}